.header-color{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .landing-grid{
    text-align:center;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
  }
  .body-color{
    background-image: url("./assets/cover-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .banner-text{
    background-color: black;
    color: white;
    opacity: .8;
    width:75%;
    padding-top: 15em;
    margin: auto;
    border-radius:20px ;
  }
  .banner-text h1,h2,h3,h5{
    font-size: 50px;
   
    /* font-weight: bold; */
    color:white;
    background-color: black;
    border-radius:20px ;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .banner-text hr{
  
    border-top: 1px solid white;
    width: 60%;
    margin:auto ;
  }
  .banner-text p{
    color: white;
    font-size: 25px;
    margin: auto;
    padding:1em;
    width: 100%;
    text-align: center;
    
  
  }
  .social-links{
    display:flex;
    
    /* justify-content: space-evenly; */
    width: 10%;
    text-align: center;
    margin: auto;
    
  }
   .social-links i{
   
    margin: auto;
    font-size:2.5em;
    color: white;
    padding: 10px;
  }
  .icons{
    display:flex;
    
    justify-content: space-evenly;
    width: 10%;
    text-align: center;
    margin: auto;
  }
  .icons i{
    margin: auto;
    font-size:7em;
    color: white;
    padding: 10px;
  }
  figure{
    background-color: #fffafa;
    margin: 1%;
    padding:1%;
    border:2px rgb(195, 195, 195) solid;
  }
  .figcaption{
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
    color:black;
  }
  .link{
    font-size: 0.8em;
    text-align: center;
    font-weight:small;
    color:rgb(255, 255, 255);
  
  }
  img{
    width: 15% px;
    height: 15% px;
  }

  .form-style-4{
    width: 450px;
    font-size: 16px;
    background: #495C70;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
    margin: auto;
  }

  .form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}

.footer {
  min-height: 100px;
  background: #E5E5E5;
  
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
}